body {
    font: 14px "Century Gothic", Futura, sans-serif;
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 44px;
    font-weight: bold;
    line-height: 34px;
    height: 104px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 104px;
  }
  #square__win{
    border: solid red;
  }
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
    max-height: 300px;
  }
  
  .button__history{
    background: #fff;
    border: 1px solid #999;
    font-size: 18px;
    font-weight: bold;
    line-height: 34px;
    height: 36px;
    width: 36px;
    margin-top: 5px;
    text-align: center;
  }

  .players__table{
    padding-top: 20px;
    width: 100%;
   
  }
  .players__table div{
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
  }
  .players__table .score{
    background: #fff;
    border: 1px solid #999;
    font-size: 18px;
    font-weight: bold;
    line-height: 34px;
    height: 36px;
    width: 36px;
    margin-top: 5px;
    text-align: center;
    margin-left: 40px
  }
.buttons__game{
  margin-right: 38%;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  box-sizing: border-box;
}
.buttons__buttons{
  background: #fff;
  border: 1px solid #999;
  font-size: 18px;
  font-weight: bold;
  line-height: 34px;
  margin-top: 5px;
  text-align: center;
  
}